.home-background {
  background-image: url('background_image.jpg'); // add image to app/assets/images
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 20px;
}
